In [11]:
import requests
import pandas as pd
import io, s3fs, json

# COI  
Access Child Opportunity Index (COI) raw indicator values from https://data.diversitydatakids.org/dataset/coi20-child-opportunity-index-2-0-database/resource/f16fff12-b1e5-4f60-85d3-3a0ededa30a0.

In [12]:
r = requests.post('https://data.diversitydatakids.org/files/COI/COI20/raw/raw.csv')
coi_rawindicator=pd.read_csv(io.StringIO(r.text), sep=',')
coi_rawindicator.head()

,geoid,year,in100,msaid15,msaname15,countyfips,statefips,stateusps,pop,ED_APENR,...,HE_SUPRFND,HE_RSEI,SE_POVRATE,SE_PUBLIC,SE_HOME,SE_OCC,SE_MHE,SE_EMPRAT,SE_JOBPROX,SE_SINGLE
0,1001020100,2010,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,424,0.349463,...,-13.815511,5.933720,9.240363,14.398734,84.335442,27.972027,60321.0,68.187744,5.224787,17.256638
1,1001020100,2015,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,414,0.252991,...,-13.815511,7.015026,10.677506,12.068965,75.198936,38.479000,67826.0,82.987556,1.052632,26.556019
2,1001020200,2010,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,497,0.350239,...,-13.815511,6.083863,10.511090,13.028169,58.568073,40.000000,44039.0,59.521217,1.727862,48.818897
3,1001020200,2015,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,508,0.253207,...,-13.815511,7.306938,22.413794,24.137930,61.941254,30.516430,41287.0,60.339661,0.931315,47.470818
4,1001020300,2010,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,878,0.349768,...,-13.815511,6.162114,11.823454,9.035088,76.315788,31.036932,46002.0,82.875099,1.788375,31.969309

Save raw data to S3.

In [13]:
with open('/Volumes/Key/aws_keys.json') as f:
  creds = json.load(f)

In [14]:
def s3upload(name,df):
    x = df.to_csv(None).encode()
    fs = s3fs.S3FileSystem(key=creds['AWSAccessKeyId'], secret=creds['AWSSecretKey'])
    with fs.open('s3://bleeding-hearts/rawdata/' + name + '.csv', 'wb') as f:
        f.write(x)
    print('saved')

In [15]:
s3upload('coi_rawindicator',coi_rawindicator)

saved

Test opening data from S3 bucket.

In [16]:
test = pd.read_csv('s3://bleeding-hearts/rawdata/coi.csv')

In [17]:
test.head()

,Unnamed: 0,geoid,year,in100,msaid15,msaname15,countyfips,statefips,stateusps,pop,...,HE_SUPRFND,HE_RSEI,SE_POVRATE,SE_PUBLIC,SE_HOME,SE_OCC,SE_MHE,SE_EMPRAT,SE_JOBPROX,SE_SINGLE
0,0,1001020100,2010,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,424,...,-13.815511,5.933720,9.240363,14.398734,84.335442,27.972027,60321.0,68.187744,5.224787,17.256638
1,1,1001020100,2015,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,414,...,-13.815511,7.015026,10.677506,12.068965,75.198936,38.479000,67826.0,82.987556,1.052632,26.556019
2,2,1001020200,2010,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,497,...,-13.815511,6.083863,10.511090,13.028169,58.568073,40.000000,44039.0,59.521217,1.727862,48.818897
3,3,1001020200,2015,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,508,...,-13.815511,7.306938,22.413794,24.137930,61.941254,30.516430,41287.0,60.339661,0.931315,47.470818
4,4,1001020300,2010,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,878,...,-13.815511,6.162114,11.823454,9.035088,76.315788,31.036932,46002.0,82.875099,1.788375,31.969309

In [18]:
r = requests.post('https://data.diversitydatakids.org/files/COI/COI20/index/index.csv')
coi_index=pd.read_csv(io.StringIO(r.text), sep=',')
coi_index.head()

,geoid,year,in100,msaid15,msaname15,countyfips,statefips,stateusps,pop,z_ED_nat,...,r_SE_stt,r_COI_stt,c5_ED_met,c5_HE_met,c5_SE_met,c5_COI_met,r_ED_met,r_HE_met,r_SE_met,r_COI_met
0,1001020100,2010,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,424,0.001198,...,67,65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001020100,2015,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,414,0.008932,...,83,84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1001020200,2010,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,497,0.013306,...,31,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1001020200,2015,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,508,-0.003518,...,26,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1001020300,2010,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,878,-0.014533,...,77,69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
s3upload('coi_index',coi_index)

saved

In [20]:
r = requests.post('https://data.diversitydatakids.org/files/COI/COI20/pop/pop.csv')
coi_pop=pd.read_csv(io.StringIO(r.text), sep=',')
coi_pop.head()

,geoid,year,in100,msaid15,msaname15,countyfips,statefips,stateusps,pop,aian,api,black,hisp,other2,nonwhite,white,total
0,1001020100,2010,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,424,0,0,56,0,0,56,368,424
1,1001020100,2015,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,414,0,14,19,12,20,65,349,414
2,1001020200,2010,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,497,0,33,229,0,24,286,211,497
3,1001020200,2015,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,508,0,10,229,0,18,257,251,508
4,1001020300,2010,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,878,0,15,194,26,0,235,643,878

In [21]:
s3upload('coi_pop',coi_pop)

saved

In [22]:
r = requests.post('https://data.diversitydatakids.org/files/COI/COI20/zscores/zscores.csv')
coi_z=pd.read_csv(io.StringIO(r.text), sep=',')
coi_z.head()

,geoid,year,in100,msaid15,msaname15,countyfips,statefips,stateusps,pop,zED_APENR,...,zHE_RSEI,zSE_POVRATE,zSE_PUBLIC,zSE_HOME,zSE_OCC,zSE_MHE,zSE_EMPRAT,zSE_JOBPROX,zSE_SINGLE,zSE_ECRES
0,1001020100,2010,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,424,0.058250,...,0.217542,0.515539,-0.112855,0.823233,-0.391742,-0.084708,-0.689880,0.459048,0.936724,0.157800
1,1001020100,2015,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,414,-0.372527,...,-0.164622,0.393041,0.096836,0.398006,0.334608,0.169833,0.829066,1.065432,0.426814,0.321208
2,1001020200,2010,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,497,0.061718,...,0.164477,0.407226,0.010503,-0.376019,0.439755,-0.636931,-1.579350,0.967294,-0.793917,-0.027652
3,1001020200,2015,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,508,-0.371563,...,-0.267792,-0.607322,-0.989432,-0.219026,-0.215846,-0.730268,-1.495351,1.083064,-0.719998,-0.672206
4,1001020300,2010,0.0,33860.0,"Montgomery, AL Metro Area",1001,1,AL,878,0.059614,...,0.136821,0.295364,0.369901,0.449986,-0.179864,-0.570353,0.817524,0.958499,0.129990,0.074177

In [23]:
s3upload('coi_z',coi_z)

saved

# ACS  
Load the ACS 1-year DP03 table for 2018.  
Using Data Profiles from https://www.census.gov/data/developers/data-sets/acs-1year.2018.html.  

get=group(DP03) based on https://api.census.gov/data/2018/acs/acs1/profile/variables.html  
for=metropolitan%20statistical%20area/micropolitan%20statistical%20area: based on https://api.census.gov/data/2018/acs/acs1/examples.html

In [14]:
with open('/Volumes/Key/census_key.txt') as key:
    api_key=key.read().strip()

In [15]:
url=f'https://api.census.gov/data/2018/acs/acs1/profile?get=group(DP03)&for=metropolitan%20statistical%20area/micropolitan%20statistical%20area:*&key={api_key}'

In [16]:
r = requests.get(url)

In [17]:
df = pd.DataFrame(columns=r.json()[0],data=r.json()[1:])
df

,GEO_ID,DP03_0001E,DP03_0001M,DP03_0001PE,DP03_0001PM,DP03_0002E,DP03_0002M,DP03_0002PE,DP03_0002PM,DP03_0003E,...,DP03_0135PMA,DP03_0136EA,DP03_0136MA,DP03_0136PEA,DP03_0136PMA,DP03_0137EA,DP03_0137MA,DP03_0137PEA,DP03_0137PMA,metropolitan statistical area/micropolitan statistical area
0,310M400US10300,79720,460,79720,-888888888,46381,1607,58.2,2.1,46330,...,None,(X),(X),None,None,(X),(X),None,None,10300
1,310M400US10460,53166,1077,53166,-888888888,26839,2262,50.5,4.0,24507,...,None,(X),(X),None,None,(X),(X),None,None,10460
2,310M400US10780,120480,655,120480,-888888888,66089,3270,54.9,2.7,65480,...,None,(X),(X),None,None,(X),(X),None,None,10780
3,310M400US12060,4676101,5398,4676101,-888888888,3139158,18687,67.1,0.4,3134908,...,None,(X),(X),None,None,(X),(X),None,None,12060
4,310M400US12580,2257415,2804,2257415,-888888888,1504130,10563,66.6,0.5,1483337,...,None,(X),(X),None,None,(X),(X),None,None,12580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,310M400US46700,357799,938,357799,-888888888,229781,4210,64.2,1.2,226696,...,None,(X),(X),None,None,(X),(X),None,None,46700
515,310M400US47700,62008,681,62008,-888888888,43397,1726,70.0,2.7,43397,...,None,(X),(X),None,None,(X),(X),None,None,47700
516,310M400US48580,84938,452,84938,-888888888,56974,1566,67.1,1.9,56941,...,None,(X),(X),None,None,(X),(X),None,None,48580
517,310M400US49340,775749,1555,775749,-888888888,511020,6624,65.9,0.9,510306,...,None,(X),(X),None,None,(X),(X),None,None,49340
518,310M400US49780,69228,379,69228,-888888888,41631,1375,60.1,2.0,41631,...,None,(X),(X),None,None,(X),(X),None,None,49780

Upload raw ACS data to S3

In [18]:
s3upload('acs',df)

saved

Getting descriptions for the headers from https://api.census.gov/data/2018/acs/acs1/profile/variables.json  
Converting to dataframe

In [19]:
headers=requests.get('https://api.census.gov/data/2018/acs/acs1/profile/variables.json')

In [20]:
d=headers.json()
d.keys()

dict_keys(['variables'])

In [21]:
d['variables'].keys()

dict_keys(['for', 'in', 'ucgid', 'DP02_0126E', 'DP05_0050PE', 'DP04_0047E', 'DP02PR_0083PE', 'DP02PR_0106PE', 'DP04_0046E', 'DP04_0016PE', 'DP02_0125E', 'DP02_0054PE', 'DP04_0049E', 'DP03_0048PE', 'DP04_0029PE', 'DP02_0124E', 'DP04_0048E', 'PUMA5', 'DP02_0123E', 'DP02PR_0017PE', 'DP04_0043E', 'DP02PR_0128E', 'DP03_0022PE', 'DP02_0122E', 'DP04_0003PE', 'DP04_0042E', 'DP02_0143PE', 'DP02PR_0127E', 'DP02_0010PE', 'DP02_0121E', 'DP02PR_0070PE', 'DP02_0130PE', 'DP03_0111PE', 'DP04_0045E', 'DP04_0136PE', 'DP02PR_0137PE', 'DP02_0120E', 'DP03_0109E', 'DP02_0067PE', 'DP04_0044E', 'DP02PR_0129E', 'DP03_0035PE', 'DP04_0110PE', 'DP02PR_0083E', 'DP05_0028E', 'DP05_0028PE', 'DP02_0085PE', 'DP03_0066PE', 'DP04_0047PE', 'DP03_0107E', 'DP05_0081PE', 'DP02PR_0082E', 'DP02PR_0065PE', 'DP05_0029E', 'DP03_0108E', 'DP02PR_0052PE', 'DP02PR_0085E', 'DP03_0105E', 'DP04_0123PE', 'DP02PR_0084E', 'DP02_0072PE', 'DP02_0019PE', 'DP03_0106E', 'DP03_0079PE', 'DP03_0103E', 'DP05_0024E', 'DP02_0041PE', 'DP02PR_0119PE', 'DP02_0129E', 'DP03_0104E', 'DP05_0025E', 'DP03_0053PE', 'DP05_0015PE', 'DP02_0098PE', 'DP02_0128E', 'DP03_0101E', 'DP02PR_0081E', 'DP02PR_0096PE', 'DP05_0026E', 'DP05_0002PE', 'DP03_0102E', 'DP02PR_0080E', 'DP02_0127E', 'DP02_0108PE', 'DP05_0027E', 'DP04_0034PE', 'DP03_0111E', 'DP05_0020E', 'DP02PR_0079E', 'DP02_0085E', 'DP03_0112E', 'DP05_0021E', 'DP02PR_0078E', 'DP04_0141PE', 'DP02_0126PE', 'DP02_0084E', 'DP03_0097PE', 'DP05_0059PE', 'DP02PR_0079PE', 'DP05_0022E', 'DP02_0113PE', 'DP02_0083E', 'DP03_0040PE', 'DP04_0021PE', 'DP05_0046PE', 'DP02PR_0022PE', 'DP03_0110E', 'DP05_0023E', 'DP02_0082E', 'DP04_0078PE', 'DP03_0071PE', 'DP02PR_0075E', 'DP02_0139PE', 'DP02_0081E', 'DP02PR_0074E', 'DP02_0080E', 'DP02PR_0142PE', 'DP04_0052PE', 'DP03_0068E', 'DP02PR_0077E', 'DP04_0065PE', 'DP02_0006PE', 'DP03_0084PE', 'DP02PR_0066PE', 'DP03_0069E', 'DP02PR_0076E', 'DP03_0107PE', 'DP05_0033PE', 'DP03_0066E', 'DP02PR_0124E', 'DP02_0130E', 'DP05_0020PE', 'DP03_0005PE', 'DP02_0024PE', 'DP03_0067E', 'DP02PR_0004PE', 'DP02PR_0123E', 'DP03_0125PE', 'DP04_0096PE', 'DP04_0041E', 'DP03_0064E', 'DP04_0119PE', 'DP02PR_0126E', 'DP02_0144PE', 'DP04_0040E', 'DP03_0065E', 'DP02PR_0125E', 'DP02_0011PE', 'DP02PR_0124PE', 'DP03_0018PE', 'DP05_0077PE', 'DP02_0090PE', 'DP02PR_0120E', 'DP03_0062E', 'DP03_0049PE', 'DP02PR_0111PE', 'DP05_0064PE', 'DP02_0089E', 'DP03_0063E', 'DP02PR_0048PE', 'DP02_0088E', 'DP02_0037PE', 'DP05_0051PE', 'DP02PR_0035PE', 'DP03_0060E', 'DP02PR_0122E', 'DP02_0087E', 'DP04_0083PE', 'DP02_0100PE', 'DP03_0061E', 'DP02PR_0121E', 'DP04_0106PE', 'DP02_0086E', 'DP02PR_0095PE', 'DP04_0035E', 'DP03_0070E', 'DP04_0137PE', 'DP02_0114E', 'DP03_0071E', 'DP04_0034E', 'DP03_0036PE', 'DP02_0113E', 'DP04_0070PE', 'DP04_0037E', 'DP02_0042PE', 'DP02PR_0082PE', 'DP02_0112E', 'DP02PR_0105PE', 'DP04_0036E', 'PLACE', 'DP04_0017PE', 'DP02_0099PE', 'DP02_0111E', 'DP02_0131PE', 'DP04_0031E', 'DP03_0112PE', 'DP02_0068PE', 'DP02PR_0007E', 'DP02_0110E', 'DP04_0124PE', 'DP04_0030E', 'DP02PR_0029PE', 'DP02PR_0006E', 'DP02PR_0139E', 'DP02PR_0016PE', 'DP04_0033E', 'DIVISION', 'DP04_0004PE', 'DP05_0029PE', 'DP02PR_0009E', 'DP03_0023PE', 'DP05_0082PE', 'DP04_0032E', 'DP02PR_0008E', 'DP02PR_0149PE', 'DP02_0055PE', 'DP02PR_0095E', 'DP03_0119E', 'DP02PR_0094E', 'DP02PR_0140PE', 'DP02_0073PE', 'DP04_0035PE', 'DP04_0111PE', 'DP02PR_0097E', 'DP04_0048PE', 'DP03_0117E', 'DP03_0067PE', 'DP02PR_0064PE', 'DP02PR_0096E', 'DP02_0119E', 'DP05_0016PE', 'DP03_0010PE', 'DP03_0118E', 'DP02_0118E', 'DP02PR_0091E', 'DP03_0115E', 'DP02PR_0051PE', 'DP04_0039E', 'DP05_0036E', 'DP03_0041PE', 'DP04_0022PE', 'DP05_0003PE', 'DP02PR_0090E', 'DP02_0117E', 'DP04_0038E', 'DP05_0037E', 'DP02_0109PE', 'DP03_0116E', 'DP04_0079PE', 'DP03_0113E', 'DP02_0116E', 'DP02PR_0093E', 'DP03_0130PE', 'DP05_0038E', 'CSA', 'DP02PR_0118PE', 'DP02_0086PE', 'DP02PR_0092E', 'DP02_0115E', 'DP03_0114E', 'DP05_0039E', 'DP03_0054PE', 'DP03_0123E', 'DP05_0032E', 'DP02PR_0034PE', 'DP02_0114PE', 'DP02_0073E', 'DP03_0085PE', 'DP05_0047PE', 'DP04_0066PE', 'DP03_0124E', 'DP05_0033E', 'DP02_0072E', 'DP02_0091PE', 'DP02PR_0130E', 'DP03_0121E', 'DP05_0034E', 'DP02_0071E', 'DP03_0122E', 'DP04_0142PE', 'DP05_0035E', 'DP02_0070E', 'DP02_0038PE', 'DP03_0098PE', 'DP02PR_0078PE', 'DP02PR_0087E', 'DP02_0060PE', 'DP02_0007PE', 'DP02PR_0021PE', 'DP03_0120E', 'DP02PR_0086E', 'DP03_0108PE', 'DP03_0072PE', 'DP03_0019PE', 'DP05_0034PE', 'DP05_0030E', 'DP02PR_0089E', 'TRIBALSUB', 'DP05_0021PE', 'DP05_0031E', 'DP02PR_0088E', 'DP02_0127PE', 'DP02PR_0141PE', 'DP04_0053PE', 'DP03_0078E', 'DP02PR_0003E', 'DP02PR_0136E', 'DP02PR_0136PE', 'DP03_0079E', 'DP04_0107PE', 'DP02PR_0002E', 'DP02PR_0135E', 'DP02_0145PE', 'DP02_0012PE', 'DP05_0078PE', 'DP02_0132PE', 'DP03_0076E', 'DP03_0113PE', 'DP02PR_0005E', 'DP02PR_0138E', 'DP02_0069PE', 'DP04_0040PE', 'DP03_0006PE', 'DP02_0079E', 'DP05_0065PE', 'DP02PR_0003PE', 'DP03_0077E', 'DP02PR_0004E', 'DP02PR_0137E', 'DP04_0097PE', 'DP02_0078E', 'DP04_0071PE', 'DP03_0090PE', 'DP02PR_0132E', 'DP03_0074E', 'DP02_0077E', 'DP03_0075E', 'DP02PR_0131E', 'DP02_0101PE', 'DP04_0018PE', 'DP02PR_0123PE', 'DP02_0076E', 'DP03_0072E', 'DP02PR_0001E', 'DP02PR_0134E', 'DP02PR_0110PE', 'DP02_0075E', 'DP04_0084PE', 'DP02_0025PE', 'DP02PR_0047PE', 'DP02PR_0133E', 'DP03_0073E', 'DP03_0126PE', 'DP02_0074E', 'DP05_0052PE', 'DP03_0082E', 'DP02PR_0019PE', 'DP04_0005PE', 'DP02_0043PE', 'DP02_0102E', 'DP03_0083E', 'DP03_0059PE', 'DP02PR_0072PE', 'DP05_0074PE', 'DP02_0101E', 'DP04_0138PE', 'DP04_0110E', 'DP03_0080E', 'DP03_0002PE', 'DP05_0008PE', 'DP02PR_0139PE', 'DP02_0100E', 'DP05_0061PE', 'DP03_0081E', 'DP02_0030PE', 'DP04_0112PE', 'DP04_0067E', 'DP03_0135PE', 'DP05_0008E', 'DP02PR_0019E', 'DP04_0049PE', 'DP02PR_0006PE', 'DP04_0066E', 'DP05_0009E', 'DP02PR_0018E', 'NECTA', 'CNECTA', 'DP02_0056PE', 'STATE', 'DP04_0069E', 'DP02_0059E', 'DP03_0046PE', 'DP03_0122PE', 'DP04_0068E', 'DP04_0125PE', 'DP02PR_0126PE', 'DP02_0058E', 'DP04_0116E', 'DP05_0004E', 'DP03_0020PE', 'DP02_0109E', 'DP04_0115E', 'DP05_0005E', 'DP02PR_0098PE', 'DP02_0108E', 'DP05_0006E', 'DP04_0118E', 'DP02_0008PE', 'DP02_0061PE', 'DP03_0129E', 'DP02_0107E', 'DP02PR_0041PE', 'DP05_0007E', 'DP05_0039PE', 'DP04_0117E', 'DP03_0033PE', 'DP04_0036PE', 'DP02_0106E', 'DP02_0150PE', 'DP04_0112E', 'DP03_0064PE', 'DP02_0087PE', 'DP03_0127E', 'DP05_0026PE', 'DP02_0105E', 'DP02PR_0108PE', 'DP05_0001E', 'DP04_0143PE', 'DP04_0111E', 'DP04_0010PE', 'DP03_0128E', 'DP02_0104E', 'DP03_0125E', 'DP04_0114E', 'DP05_0002E', 'DP04_0023PE', 'DP03_0126E', 'DP02PR_0085PE', 'DP05_0003E', 'DP04_0113E', 'DP02_0074PE', 'DP02_0103E', 'DP03_0077PE', 'DP03_0135E', 'DP03_0002E', 'DP02_0092PE', 'DP02PR_0011PE', 'DP02PR_0140E', 'DP03_0118PE', 'DP02_0061E', 'DP03_0003E', 'DP03_0136E', 'DP02PR_0144PE', 'DP02_0060E', 'DP03_0051PE', 'DP04_0054PE', 'DP02_0039PE', 'DP05_0013PE', 'DP04_0130PE', 'DP03_0133E', 'DP02PR_0142E', 'DP02PR_0131PE', 'DP04_0067PE', 'DP03_0134E', 'DP02PR_0068PE', 'DP03_0001E', 'DP02PR_0141E', 'DP02_0102PE', 'DP03_0105PE', 'DP03_0131E', 'DP02PR_0055PE', 'DP02PR_0099E', 'DP05_0088E', 'UA', 'DP04_0108E', 'DP04_0041PE', 'US', 'DP03_0132E', 'DP02PR_0098E', 'DP02_0128PE', 'DP05_0089E', 'DP04_0107E', 'DP03_0095PE', 'DP05_0057PE', 'DP04_0098PE', 'DP02_0115PE', 'DP05_0044PE', 'DP03_0130E', 'DP04_0109E', 'DP04_0063E', 'DP02_0133PE', 'DP05_0084E', 'DP02PR_0015E', 'DP02PR_0148E', 'DP02PR_0113PE', 'DP02_0069E', 'DP04_0085PE', 'DP04_0062E', 'DP05_0085E', 'DP02PR_0014E', 'DP02PR_0147E', 'DP02_0068E', 'DP03_0088E', 'DP05_0086E', 'DP02PR_0037PE', 'DP04_0065E', 'DP02PR_0017E', 'DP03_0136PE', 'DP03_0029PE', 'DP05_0088PE', 'DP02_0067E', 'DP04_0064E', 'DP03_0082PE', 'DP03_0089E', 'DP05_0087E', 'DP04_0108PE', 'DP02PR_0016E', 'DP02PR_0149E', 'DP02_0057PE', 'DP02_0066E', 'DP05_0031PE', 'DP02PR_0090PE', 'DP05_0080E', 'DP03_0086E', 'DP02PR_0011E', 'DP02PR_0144E', 'DP04_0139PE', 'DP02_0065E', 'DP02_0026PE', 'DP03_0003PE', 'DP05_0081E', 'DP03_0087E', 'DP02PR_0010E', 'DP02PR_0143E', 'DP02PR_0100PE', 'DP02_0064E', 'DP04_0061E', 'DP05_0082E', 'DP04_0072PE', 'DP03_0084E', 'DP02PR_0013E', 'DP02PR_0146E', 'DP02_0063E', 'DP05_0083E', 'DP04_0060E', 'DP02PR_0024PE', 'DP03_0085E', 'DP02PR_0012E', 'DP02PR_0145E', 'DP02_0146PE', 'DP02_0062E', 'DP04_0019PE', 'DP03_0016PE', 'DP05_0075PE', 'DP02_0013PE', 'DP03_0110PE', 'DP03_0094E', 'DP04_0059E', 'DP03_0047PE', 'DP05_0009PE', 'DP05_0062PE', 'DP02PR_0084PE', 'DP03_0095E', 'DP04_0058E', 'DP04_0126PE', 'DP02_0031PE', 'DP02_0151PE', 'DP02PR_0018PE', 'DP03_0092E', 'DP04_0006PE', 'DP02_0088PE', 'DP03_0093E', 'DP02PR_0071PE', 'DP02_0049E', 'DP04_0090PE', 'DP03_0090E', 'DP04_0055E', 'DP02PR_0138PE', 'DP02_0120PE', 'DP03_0123PE', 'DP03_0091E', 'DP04_0054E', 'DP04_0037PE', 'DP02_0048E', 'DP03_0034PE', 'DP04_0113PE', 'DP04_0057E', 'DP02_0044PE', 'DP02_0047E', 'DP02PR_0005PE', 'DP04_0056E', 'SDSEC', 'DP02_0046E', 'DP02PR_0053PE', 'DP04_0104E', 'DP05_0016E', 'DP02_0009PE', 'DP02_0062PE', 'DP04_0024PE', 'DP04_0103E', 'DP05_0017E', 'DP03_0078PE', 'DP05_0018E', 'DP05_0027PE', 'DP04_0106E', 'DP03_0021PE', 'DP03_0008E', 'DP04_0100PE', 'DP05_0080PE', 'DP04_0105E', 'DP02_0129PE', 'DP05_0019E', 'DP03_0009E', 'DP04_0131PE', 'DP02PR_0097PE', 'DP05_0012E', 'DP04_0100E', 'DP03_0006E', 'DP04_0068PE', 'DP02PR_0040PE', 'DP05_0013E', 'DP03_0007E', 'DP02_0075PE', 'DP03_0137E', 'DP03_0004E', 'DP05_0014E', 'DP04_0102E', 'CD116', 'DP03_0065PE', 'DP03_0005E', 'DP02PR_0107PE', 'DP04_0101E', 'DP05_0015E', 'DP04_0011PE', 'DP05_0014PE', 'DP03_0014E', 'DP02PR_0152E', 'DP05_0001PE', 'DP03_0015E', 'DP02PR_0151E', 'DP02_0080PE', 'DP02PR_0023PE', 'DP03_0106PE', 'DP02_0103PE', 'DP02PR_0010PE', 'DP05_0010E', 'DP03_0012E', 'DP02PR_0021E', 'DP02_0027PE', 'DP03_0013E', 'DP02PR_0020E', 'DP05_0011E', 'DP02PR_0143PE', 'DP03_0052PE', 'DP05_0058PE', 'DP04_0055PE', 'DP03_0010E', 'DP02_0116PE', 'DP02PR_0130PE', 'DP03_0083PE', 'DP05_0045PE', 'DP02PR_0067PE', 'DP03_0011E', 'DP04_0109PE', 'DP02PR_0054PE', 'COUSUB', 'DP02PR_0150E', 'DP03_0119PE', 'DP04_0042PE', 'DP04_0099PE', 'DP03_0096PE', 'DP02_0093PE', 'DP04_0051E', 'DP03_0137PE', 'DP02PR_0027E', 'DP02_0001PE', 'DP05_0089PE', 'DP02_0057E', 'DP04_0050E', 'DP02PR_0026E', 'DP02_0058PE', 'DP02PR_0125PE', 'DP05_0032PE', 'DP04_0073PE', 'DP03_0017PE', 'DP02_0056E', 'DP04_0053E', 'DP03_0070PE', 'DP02PR_0029E', 'DP02PR_0112PE', 'DP02_0055E', 'DP04_0086PE', 'DP04_0052E', 'DP02_0121PE', 'DP02PR_0049PE', 'DP03_0124PE', 'DP02PR_0028E', 'DP02_0054E', 'DP03_0098E', 'DP02PR_0036PE', 'DP02PR_0023E', 'DP04_0007PE', 'DP02_0053E', 'DP03_0099E', 'DP02PR_0022E', 'DP02_0147PE', 'DP02_0052E', 'DP05_0076PE', 'DP02_0014PE', 'DP03_0096E', 'DP02PR_0025E', 'DP02_0134PE', 'DP02_0051E', 'DP05_0063PE', 'DP03_0004PE', 'DP03_0097E', 'DP04_0060PE', 'DP02PR_0024E', 'DP02_0050E', 'DP03_0133PE', 'DP02_0152PE', 'DP04_0114PE', 'DP04_0132E', 'DP05_0085PE', 'DP02_0089PE', 'SDELM', 'DP02PR_0008PE', 'DP04_0131E', 'DP03_0013PE', 'DP05_0072PE', 'DP02_0039E', 'DP04_0001E', 'DP04_0134E', 'DP03_0120PE', 'DP02_0038E', 'DP04_0133E', 'DP04_0127PE', 'DP02PR_0128PE', 'DP02_0076PE', 'DP02_0045PE', 'DP02PR_0115PE', 'DP02_0037E', 'DP04_0101PE', 'DP05_0019PE', 'DP02_0036E', 'DP03_0057PE', 'DP04_0091PE', 'DP04_0130E', 'DP02PR_0039PE', 'DP05_0006PE', 'DP02_0035E', 'DP04_0038PE', 'DP02_0032PE', 'DP02PR_0092PE', 'DP02_0034E', 'DP02PR_0030PE', 'DP04_0007E', 'DP04_0006E', 'DP04_0139E', 'DP02_0050PE', 'DP04_0012PE', 'DP02_0117PE', 'DP02PR_0150PE', 'DP04_0009E', 'DP03_0044PE', 'DP04_0025PE', 'DP02PR_0087PE', 'DP04_0008E', 'DP02PR_0074PE', 'DP04_0003E', 'DP04_0136E', 'DP03_0018E', 'DP04_0135E', 'DP04_0002E', 'DP03_0019E', 'DP04_0056PE', 'DP03_0016E', 'DP04_0132PE', 'DP04_0005E', 'DP04_0138E', 'DP02PR_0061PE', 'DP02_0063PE', 'DP04_0069PE', 'DP03_0088PE', 'DP04_0137E', 'DP04_0004E', 'DP03_0031PE', 'DP05_0037PE', 'DP03_0017E', 'DP02PR_0057PE', 'DP03_0026E', 'DP02PR_0031E', 'DP05_0068E', 'DP03_0062PE', 'DP03_0009PE', 'DP04_0043PE', 'DP02_0028PE', 'DP05_0024PE', 'DP03_0027E', 'DP02PR_0030E', 'DP05_0069E', 'DP03_0129PE', 'DP03_0024E', 'DP04_0081E', 'DP02PR_0033E', 'DP03_0025E', 'DP04_0080E', 'DP02PR_0032E', 'METDIV', 'DP02_0148PE', 'DP02PR_0120PE', 'DP03_0075PE', 'DP02_0015PE', 'DP05_0064E', 'DP03_0022E', 'DP05_0068PE', 'DP04_0087PE', 'DP05_0065E', 'DP03_0023E', 'DP02PR_0044PE', 'DP05_0011PE', 'DP02_0094PE', 'DP02PR_0031PE', 'DP03_0020E', 'DP05_0066E', 'DP03_0021E', 'DP02_0081PE', 'DP05_0067E', 'DP02_0104PE', 'DP04_0030PE', 'DP05_0060E', 'DP02PR_0039E', 'DP04_0087E', 'DP02_0045E', 'DP04_0086E', 'DP05_0061E', 'DP02_0122PE', 'DP04_0061PE', 'DP02PR_0102PE', 'DP02PR_0038E', 'DP02_0044E', 'DP05_0055PE', 'DP03_0093PE', 'DP05_0062E', 'DP04_0089E', 'DP02_0043E', 'DP05_0042PE', 'DP02_0046PE', 'DP05_0063E', 'DP02PR_0026PE', 'DP04_0088E', 'DP04_0074PE', 'DP02_0042E', 'DP04_0083E', 'DP02PR_0013PE', 'DP02PR_0035E', 'DP02_0135PE', 'DP03_0116PE', 'DP02_0041E', 'COUNTY', 'DP04_0082E', 'DP02PR_0034E', 'DP04_0128PE', 'DP02_0040E', 'DP02PR_0146PE', 'DP04_0085E', 'DP02PR_0037E', 'DP03_0027PE', 'DP02PR_0133PE', 'DP04_0008PE', 'DP05_0086PE', 'DP02_0002PE', 'DP04_0084E', 'DP03_0080PE', 'DP03_0103PE', 'DP02PR_0036E', 'DP02_0059PE', 'DP02_0029E', 'DP04_0092PE', 'DP05_0073PE', 'DP04_0120E', 'DP03_0001PE', 'DP02_0020PE', 'DP02PR_0060PE', 'DP02_0028E', 'DP03_0121PE', 'DP04_0039PE', 'DP02_0077PE', 'DP02_0027E', 'DP04_0122E', 'DP04_0115PE', 'DP02_0140PE', 'DP02PR_0007PE', 'SDUNI', 'DP04_0121E', 'DP02_0026E', 'DP03_0014PE', 'DP04_0079E', 'DP04_0026PE', 'DP05_0007PE', 'DP02_0025E', 'DP03_0045PE', 'DP05_0060PE', 'DP04_0078E', 'DP02_0033PE', 'DP02PR_0127PE', 'DP02_0024E', 'DP03_0134PE', 'DP02PR_0114PE', 'DP02_0023E', 'DP04_0102PE', 'DP03_0058PE', 'DP02_0022E', 'DP02PR_0099PE', 'DP04_0133PE', 'DP02_0118PE', 'DP04_0128E', 'DP03_0089PE', 'DP02PR_0042PE', 'DP04_0127E', 'REGION', 'DP03_0032PE', 'DP02PR_0109PE', 'DP04_0129E', 'DP02_0095PE', 'DP04_0013PE', 'DP04_0124E', 'DP02_0064PE', 'DP04_0120PE', 'DP02PR_0086PE', 'DP04_0123E', 'DP05_0038PE', 'DP03_0076PE', 'DP02PR_0073PE', 'DP04_0126E', 'DP05_0025PE', 'DP03_0028E', 'DP04_0125E', 'DP02_0051PE', 'DP03_0029E', 'DP04_0057PE', 'DP03_0038E', 'DP02PR_0043E', 'DP02PR_0132PE', 'DP02PR_0069PE', 'DP02PR_0042E', 'DP02_0149PE', 'DP04_0031PE', 'DP02_0016PE', 'DP03_0039E', 'DP03_0036E', 'DP02PR_0056PE', 'DP03_0117PE', 'DP02PR_0045E', 'DP02_0136PE', 'DP05_0069PE', 'DP03_0063PE', 'DP04_0044PE', 'DP03_0037E', 'DP02PR_0044E', 'DP05_0012PE', 'DP05_0076E', 'DP03_0034E', 'DP03_0035E', 'DP02_0105PE', 'DP05_0077E', 'DP04_0119E', 'DP04_0075PE', 'DP03_0032E', 'DP02PR_0041E', 'DP05_0078E', 'DP04_0088PE', 'DP02_0082PE', 'DP02_0029PE', 'DP02PR_0043PE', 'DP02PR_0040E', 'DP03_0033E', 'DP05_0079E', 'CBSA', 'DP03_0050PE', 'DP05_0056PE', 'DP04_0075E', 'DP05_0072E', 'DP02_0110PE', 'DP02PR_0038PE', 'DP03_0030E', 'DP03_0028PE', 'DP04_0009PE', 'DP02_0033E', 'DP05_0043PE', 'DP04_0062PE', 'DP02_0047PE', 'DP04_0074E', 'DP03_0081PE', 'DP05_0073E', 'DP03_0031E', 'DP02_0032E', 'DP02PR_0091PE', 'DP05_0074E', 'DP04_0077E', 'DP02_0031E', 'DP05_0075E', 'DP02PR_0101PE', 'DP04_0076E', 'DP02_0034PE', 'DP03_0094PE', 'DP02_0030E', 'DP04_0071E', 'DP02PR_0047E', 'DP04_0116PE', 'DP05_0087PE', 'DP02_0003PE', 'DP02PR_0025PE', 'DP04_0070E', 'DP02PR_0046E', 'DP03_0104PE', 'DP05_0030PE', 'DP03_0015PE', 'DP05_0070E', 'DP04_0073E', 'DP02PR_0012PE', 'DP02PR_0049E', 'DP05_0071E', 'DP04_0072E', 'DP04_0129PE', 'DP02_0123PE', 'DP02PR_0048E', 'DP02PR_0145PE', 'DP02_0017E', 'DP04_0023E', 'DP02PR_0108E', 'DP02PR_0117PE', 'DP03_0024PE', 'DP02_0141PE', 'DP02_0149E', 'DP02_0016E', 'DP04_0080PE', 'DP04_0022E', 'DP04_0103PE', 'DP02PR_0107E', 'DP04_0093PE', 'DP02_0148E', 'DP04_0025E', 'DP02_0015E', 'DP02_0065PE', 'DP04_0024E', 'DP03_0037PE', 'DP02PR_0109E', 'DP02PR_0094PE', 'DP02_0147E', 'DP02_0014E', 'DP02PR_0104E', 'DP02PR_0081PE', 'DP03_0068PE', 'DP02_0146E', 'DP02_0013E', 'DP03_0100PE', 'DP05_0083PE', 'DP02PR_0104PE', 'DP02PR_0103E', 'DP03_0011PE', 'DP02_0145E', 'DP04_0014PE', 'DP02_0012E', 'DP05_0070PE', 'DP04_0021E', 'DP02PR_0106E', 'DP04_0027PE', 'DP02_0021PE', 'DP02_0011E', 'DP02_0144E', 'DP04_0020E', 'DP02PR_0028PE', 'DP02PR_0105E', 'DP02_0143E', 'DP02_0010E', 'DP02_0078PE', 'DP02PR_0076PE', 'DP04_0001PE', 'DP05_0017PE', 'DP02_0096PE', 'DP03_0055PE', 'DP04_0058PE', 'DP04_0134PE', 'DP02PR_0061E', 'DP05_0004PE', 'DP02PR_0060E', 'DP02_0106PE', 'DP03_0109PE', 'DP03_0131PE', 'DP04_0027E', 'DP05_0048E', 'DP04_0045PE', 'DP02PR_0063PE', 'DP04_0026E', 'DP05_0049E', 'DP02_0052PE', 'DP03_0099PE', 'DP02_0019E', 'DP02_0119PE', 'DP04_0029E', 'DP03_0042PE', 'DP05_0048PE', 'DP02_0018E', 'DP04_0121PE', 'DP04_0028E', 'DP02PR_0050PE', 'DP05_0044E', 'DP02PR_0055E', 'DP02_0137PE', 'DP04_0089PE', 'DP02PR_0046PE', 'DP05_0045E', 'DP02PR_0054E', 'DP03_0048E', 'DP02PR_0033PE', 'DP05_0046E', 'DP02PR_0057E', 'DP03_0086PE', 'DP02_0004PE', 'DP03_0049E', 'DP05_0047E', 'DP02PR_0056E', 'DP04_0032PE', 'DP05_0035PE', 'DP03_0046E', 'DP05_0040E', 'DP02PR_0051E', 'DP02_0083PE', 'DP05_0022PE', 'DP03_0007PE', 'DP03_0047E', 'DP05_0041E', 'DP02PR_0050E', 'DP03_0060PE', 'DP02PR_0077PE', 'DP02_0070PE', 'DP05_0042E', 'DP02PR_0053E', 'DP03_0044E', 'DP02PR_0020PE', 'DP05_0043E', 'DP02PR_0052E', 'DP03_0045E', 'DP04_0076PE', 'DP05_0079PE', 'DP02_0017PE', 'DP03_0073PE', 'ANRC', 'DP04_0050PE', 'DP03_0042E', 'DP02PR_0015PE', 'DP02PR_0100E', 'DP03_0114PE', 'DP02_0021E', 'DP05_0066PE', 'DP03_0043E', 'DP02PR_0148PE', 'DP02_0020E', 'DP02_0035PE', 'DP03_0040E', 'DP02PR_0102E', 'DP02PR_0135PE', 'DP04_0063PE', 'DP02_0152E', 'DP03_0101PE', 'DP03_0041E', 'DP02PR_0101E', 'DP02_0151E', 'DP04_0094PE', 'DP02PR_0059PE', 'DP02PR_0059E', 'DP02_0150E', 'DP02PR_0002PE', 'DP02_0124PE', 'DP02PR_0058E', 'DP03_0127PE', 'DP03_0038PE', 'DP05_0053PE', 'DP02_0111PE', 'DP03_0091PE', 'DP04_0117PE', 'DP02_0048PE', 'DP05_0040PE', 'DP02PR_0122PE', 'DP02_0138E', 'DP02_0005E', 'DP04_0011E', 'DP04_0028PE', 'DP02_0066PE', 'DP02_0137E', 'DP04_0010E', 'DP04_0143E', 'DP02PR_0119E', 'DP02_0004E', 'DP02PR_0129PE', 'DP03_0132PE', 'DP04_0013E', 'DP03_0025PE', 'DP02PR_0116PE', 'DP02_0136E', 'DP02_0003E', 'DP05_0084PE', 'DP04_0081PE', 'DP04_0012E', 'DP04_0104PE', 'DP02_0053PE', 'DP02_0135E', 'DP02_0002E', 'DP04_0135PE', 'DP04_0140E', 'DP05_0071PE', 'DP02PR_0116E', 'DP02_0022PE', 'DP02_0134E', 'DP02_0001E', 'DP02PR_0115E', 'DP02_0079PE', 'DP02PR_0093PE', 'DP02_0133E', 'DP04_0142E', 'DP02PR_0118E', 'DP03_0069PE', 'DP02_0132E', 'DP02PR_0080PE', 'DP02_0142PE', 'DP04_0141E', 'DP02PR_0103PE', 'DP02PR_0117E', 'DP04_0015PE', 'DP05_0018PE', 'DP03_0012PE', 'DP02_0131E', 'DP02PR_0071E', 'DP05_0005PE', 'DP02PR_0151PE', 'DP04_0019E', 'AIANHH', 'DP03_0043PE', 'DP02PR_0088PE', 'DP04_0122PE', 'DP02PR_0070E', 'DP02_0107PE', 'DP04_0018E', 'DP02PR_0073E', 'DP02PR_0075PE', 'DP02_0084PE', 'DP04_0002PE', 'DP02PR_0072E', 'DP04_0059PE', 'DP03_0056PE', 'DP02_0009E', 'DP04_0015E', 'DP05_0049PE', 'DP03_0087PE', 'DP02_0008E', 'DP04_0014E', 'DP03_0030PE', 'DP04_0033PE', 'DP02_0007E', 'DP04_0017E', 'DP02_0040PE', 'DP04_0046PE', 'DP02_0139E', 'DP02_0006E', 'DP02PR_0062PE', 'DP04_0016E', 'DP02PR_0009PE', 'GEO_ID', 'DP02_0097PE', 'DP04_0091E', 'DP05_0056E', 'DP02PR_0067E', 'DP02_0097E', 'DP04_0020PE', 'DP02_0005PE', 'DP03_0100E', 'DP04_0090E', 'DP02PR_0066E', 'DP05_0057E', 'DP02PR_0121PE', 'DP03_0074PE', 'DP02_0096E', 'DP05_0036PE', 'DP04_0077PE', 'DP04_0093E', 'DP05_0058E', 'DP02PR_0069E', 'DP02_0095E', 'DP05_0023PE', 'DP04_0092E', 'DP02PR_0045PE', 'DP03_0128PE', 'DP02PR_0068E', 'DP05_0059E', 'DP02_0125PE', 'DP02_0094E', 'DP02PR_0032PE', 'DP03_0058E', 'DP05_0052E', 'DP02PR_0063E', 'DP02_0093E', 'DP04_0064PE', 'DP03_0059E', 'DP02PR_0062E', 'DP05_0053E', 'DP02_0092E', 'DP02_0071PE', 'DP02_0018PE', 'DP05_0054E', 'DP03_0056E', 'DP02PR_0065E', 'DP02_0138PE', 'DP02_0091E', 'DP02PR_0152PE', 'DP05_0067PE', 'DP03_0061PE', 'DP03_0008PE', 'DP02PR_0089PE', 'DP03_0057E', 'DP02PR_0064E', 'DP05_0055E', 'DP04_0140PE', 'DP02_0090E', 'DP05_0010PE', 'DP03_0054E', 'DP03_0092PE', 'DP04_0118PE', 'DP02PR_0112E', 'DP04_0099E', 'DP02_0142E', 'DP03_0055E', 'DP02PR_0111E', 'DP02PR_0027PE', 'DP03_0102PE', 'DP04_0098E', 'DP02_0141E', 'DP05_0050E', 'NECTADIV', 'DP02PR_0014PE', 'DP03_0052E', 'DP02PR_0114E', 'DP02_0023PE', 'DP02_0140E', 'DP05_0051E', 'DP03_0053E', 'DP02PR_0113E', 'DP0

In [22]:
df_headers=pd.DataFrame.from_dict(d['variables'])
df_headers

,for,in,ucgid,DP02_0126E,DP05_0050PE,DP04_0047E,DP02PR_0083PE,DP02PR_0106PE,DP04_0046E,DP04_0016PE,...,DP02PR_0110E,DP03_0115PE,GEOCOMP,DP02_0099E,DP04_0096E,DP02PR_0001PE,DP03_0039PE,DP02_0098E,DP04_0095PE,DP02_0036PE
label,Census API FIPS 'for' clause,Census API FIPS 'in' clause,Uniform Census Geography Identifier clause,Estimate!!ANCESTRY!!Total population!!Danish,Percent Estimate!!RACE!!Total population!!One ...,Estimate!!HOUSING TENURE!!Occupied housing uni...,Percent Estimate!!RESIDENCE 1 YEAR AGO!!Popula...,Percent Estimate!!WORLD REGION OF BIRTH OF FOR...,Estimate!!HOUSING TENURE!!Occupied housing uni...,Percent Estimate!!YEAR STRUCTURE BUILT!!Total ...,...,Estimate!!LANGUAGE SPOKEN AT HOME!!Population ...,Percent Estimate!!HEALTH INSURANCE COVERAGE!!C...,GEO_ID Component,Estimate!!YEAR OF ENTRY!!Population born outsi...,Estimate!!SELECTED MONTHLY OWNER COSTS (SMOC)!...,Percent Estimate!!HOUSEHOLDS BY TYPE!!Total ho...,Percent Estimate!!INDUSTRY!!Civilian employed ...,Estimate!!YEAR OF ENTRY!!Population born outsi...,Percent Estimate!!SELECTED MONTHLY OWNER COSTS...,Percent Estimate!!FERTILITY!!Number of women 1...
concept,Census API Geography Specification,Census API Geography Specification,Census API Geography Specification,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,ACS DEMOGRAPHIC AND HOUSING ESTIMATES,SELECTED HOUSING CHARACTERISTICS,SELECTED SOCIAL CHARACTERISTICS IN PUERTO RICO,SELECTED SOCIAL CHARACTERISTICS IN PUERTO RICO,SELECTED HOUSING CHARACTERISTICS,SELECTED HOUSING CHARACTERISTICS,...,SELECTED SOCIAL CHARACTERISTICS IN PUERTO RICO,SELECTED ECONOMIC CHARACTERISTICS,NaN,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,SELECTED HOUSING CHARACTERISTICS,SELECTED SOCIAL CHARACTERISTICS IN PUERTO RICO,SELECTED ECONOMIC CHARACTERISTICS,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...,SELECTED HOUSING CHARACTERISTICS,SELECTED SOCIAL CHARACTERISTICS IN THE UNITED ...
predicateType,fips-for,fips-in,ucgid,int,float,int,float,float,int,int,...,int,float,string,int,int,int,float,int,float,int
group,N/A,N/A,N/A,DP02,DP05,DP04,DP02PR,DP02PR,DP04,DP04,...,DP02PR,DP03,N/A,DP02,DP04,DP02PR,DP03,DP02,DP04,DP02
limit,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
predicateOnly,True,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
attributes,NaN,NaN,NaN,"DP02_0126EA,DP02_0126M,DP02_0126MA","DP05_0050PEA,DP05_0050PM,DP05_0050PMA","DP04_0047EA,DP04_0047M,DP04_0047MA","DP02PR_0083PEA,DP02PR_0083PM,DP02PR_0083PMA","DP02PR_0106PEA,DP02PR_0106PM,DP02PR_0106PMA","DP04_0046EA,DP04_0046M,DP04_0046MA","DP04_0016PEA,DP04_0016PM,DP04_0016PMA",...,"DP02PR_0110EA,DP02PR_0110M,DP02PR_0110MA","DP03_0115PEA,DP03_0115PM,DP03_0115PMA",NaN,"DP02_0099EA,DP02_0099M,DP02_0099MA","DP04_0096EA,DP04_0096M,DP04_0096MA","DP02PR_0001PEA,DP02PR_0001PM,DP02PR_0001PMA","DP03_0039PEA,DP03_0039PM,DP03_0039PMA","DP02_0098EA,DP02_0098M,DP02_0098MA","DP04_0095PEA,DP04_0095PM,DP04_0095PMA","DP02_0036PEA,DP02_0036PM,DP02_0036PMA"
required,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,default displayed,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Upload header dataframe to S3

In [25]:
s3upload('acs_headers',df_headers)

saved